<h2 align="center">Login Page</h2>
<div class="form" align="center">
  <form class="example-form" (ngSubmit)="loginUser()">
    <mat-form-field appearance="fill">
      <mat-label>Enter username</mat-label>
      <input matInput type="text" name="login" matInput placeholder="Sensor" required [(ngModel)]="authRequest.username">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" name="pass" matInput placeholder="Sensor" required [(ngModel)]="authRequest.password">
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button>Login</button>
    <button type="reset" mat-raised-button>Cancel</button>
  </form>
</div>
