<!DOCTYPE html>
<html>
  <head>
    <title>Login Form</title>
  </head>
  <body>
    <h2>Add/edit</h2>
    <br>
    <form method="post" action="handler.php">
      <table width="100%" cellspacing="0" cellpadding="4">
        <tr>
          <td>Name</td>
          <td><input type="text" name="name" required="required" [(ngModel)]="name" placeholder="Name"></td>
        </tr>
        <tr>
          <td>Model</td>
          <td><input type="text" name="model" required="required" [(ngModel)]="model" placeholder="Model"></td>
        </tr>
        <tr>
          <td>Range</td>
          <td>
            <small>from</small>
            <input type="number"  id="numbFrom" name="rangeFrom" [(ngModel)]="rangeFrom">
            <small>to</small>
            <input type="number" id="numbTo" name="rangeTo" [(ngModel)]="rangeTo">
          </td>
        </tr>
        <tr>
          <td>Type</td>
          <td>
            <select required="required" name="type">
              <option value="Pressure">Pressure</option>
              <option value="Voltage">Voltage</option>
              <option value="Temperature">Temperature</option>
              <option value="Humidity">Humidity</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Unit</td>
          <td>
            <select required="required" name="unit">
              <option value="Bar">bar</option>
              <option value="Voltage">voltage</option>
              <option value="Celsius">&#176C</option>
              <option value="Percent">%</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Location</td>
          <td><input type="text" name="location" [(ngModel)]="location" placeholder="Location"></td>
        </tr>
        <tr>
          <td>Description</td>
          <td><input type="text" name="description" [(ngModel)]="description" placeholder="Here is a some text input"></td>
        </tr>
      </table>
    </form>
        <input type="button" name="save" value="Save">
        <input type="button" name="cancel" value="Cancel">
  </body>
</html>


